// reservation Section Bakery

section.reservationSection {
	@include sectionSetup(url(bakery/assets/reservationbg.png));
	h2 {
		color: $bakerOrange;
	}
	.reservationFlexWrapper {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.reservationCall {
			width: 28%;
			margin-bottom: 20px;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			.reservationCallText {
				width: 100%;
				margin-bottom: 20px;
			}
			.reservationCallLink {
				width: 100%;
				padding: 5px 15px;
				position: relative;
				color: $darkGrey;
				border: 1px solid $darkGrey;
				z-index: 10;
				display: flex;
				align-items: center;
				@include borderDubs($darkGrey);
				&:hover {
					background-color: $white;
				}
				.reservationCallLinkPhone {
					width: 20%;
					i {
					color: $bakerOrange;
					font-size: 30px;
					display: block;	
					margin-right: 5px;
					}
				}
				.reservationCallLinkText {
					width: 60%;
					p {
						font-weight: 700;
						text-transform: uppercase;
					}
				}	
			}
		}
		.reservationForm {
			width: 68%;
			display: flex;
			flex-flow: row wrap;
			border: 1px solid $darkGrey;
			position: relative;
			z-index: 10;
			@include borderDubs($darkGrey);
			.reservationInput {
				border: 1px solid $darkGrey;
				width: 50%;
				display: flex;
				input {
					flex-grow: 1;
					border: none;
					width: 75%;		
				}
				i {
					padding-top: 20px;
					padding-right: 10px;
					font-size: 20px;
					color: $darkGrey;
					background-color: white;
				}

			}
			input {
				width: 50%;
			}
			.formButton {
				width: 100%;
			}
		}
	}
}